head {
	position: absolute;
	z-index: 2;
}

h1 {
	position: sticky;
	text-align: center;
	z-index: 2;
	font-family: sans-serif;
}

body { 
	margin:0; 
	padding:0;
	z-index: 1;
}

button{
  	margin:auto;
  	display:block;
	position:sticky;
	z-index: 1;
}

nav {
	z-index: 1;
}

#map {
	position: absolute;
	width: 75%; 
	height: 80%;
	z-index: -1; /* Dybde i planet - laveste z-indeks er bakerst */
}