head {
	position: absolute;
	z-index: 2;
}

h1 {
	position: sticky;
	text-align: center;
	z-index: 2;
	font-family: sans-serif;
}

body { 
	margin:0; 
	padding:0;
	z-index: 1;
}

button{
  	margin:auto;
  	display:block;
	position:sticky;
	z-index: 1;
}

#header {
	margin:0; 
	padding:0;
	z-index: -1;
}

#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%; 
	z-index: -1; /* Dybde i planet - laveste z-indeks er bakerst */
}