<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {%if title %}
    <title>{{ title }} Kultur</title>
    {% else %}
    <title> Velkommen til kulTUR</title>
    {% endif %}
</head>
<body>
    <div> Kultur:
        <a href="{{ url_for('mainpage') }}">Home</a>
        <a href="{{ url_for('signup') }}">Sign up</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <u1>
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </u1>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>