<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {%if title %}
    <title>{{ title }} Kultur</title>
    {% else %}
    <title> Velkommen til kulTUR</title>
    {% endif %}

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!-- Mapbox js--> 	
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <!-- Mapbox css -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
        
    <!-- Leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <!-- Leaflet js -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>	
    <!-- My css --> 
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/adjektiv.css') }}">

</head>
<body>
    
    
    <div id='header'> Kultur:
        <a href="{{ url_for('mainpage') }}">Home</a>
        <a href="{{ url_for('signup') }}">Sign up</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <u1>
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </u1>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>