{% extends "base.html" %}

{% block app_content %}



    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
            {{ form.hidden_tag() }}
    <fieldset>

    <!-- Form Name -->
    <legend><h2 align="center"><b>Rediger kjønn </b></h2></legend><br>
        <div class="form-group">
            <label class="col-md-4 control-label">Kjønn</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    {{form.sex(placeholder="Kjønn", class_="form-control selectpicker")}}
                    </select>
                </div>
            </div>
        </div>


          <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Send <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>

        </div>
    </div>
    </fieldset>
    </form>
</div>

{% endblock %}>