{% extends "base.html" %}

{% block app_content %}

<div class="container">

        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
            {{ form.hidden_tag() }}
    <fieldset>

    <!-- Form Name -->
    <legend><h2 align="center"><b>Logg inn</b></h2></legend><br>


    <div class="form-group">
      <!--<label class="col-md-4 control-label">Brukernavn</label> -->
         {{form.username.label(class_="col-md-4 control-label")}}
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      {{form.username(placeholder="Brukernavn", class_="form-control") }}
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <!--<label class="col-md-4 control-label" >Passord</label> -->
         {{form.password.label(class_="col-md-4 control-label")}}
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
     {{form.password(placeholder="Passord", class_="form-control") }}
        </div>
      </div>
    </div>


        <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Logg inn <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
        </div>
    </div>


        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="{{ url_for('registration') }}" class="btn btn-primary btn-sm" role="button">Ny bruker? Registrer deg her</a>
            </div>
        </div>


    </fieldset>
    </form>
</div>


{% endblock %}
