
{% extends "base.html" %}
{% block app_content %}

<head>

</head>

<div class="container">
<body data-spy="scroll" data-target="#myScrollspy" data-offset="150">
<div class="col-sm-2" id="myScrollspy">
    <div class="sidenav" style="position: fixed; margin-top: 50px; transform: translate(-170px, 0px)">
        <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1"> Ukas turbilder </a></li>
                <li><a href="#section2"> Finn en kul tur </a></li>
                <li><a href="#section3"> Bruk fjellvett </a></li>
                <li><a href="#section4"> Sjekk været </a></li>
                </li>
        </ul>

        </div>

</div>
<div class="col-sm-12">
    <div class="container-fluid">
        <h1 style="margin-bottom: 50px; margin-top: 50px; font-family: Helvetica; color: lightslategrey"><b></b></h1>
    </div>
    <div id="section1" class="container-fluid" style="margin-bottom: 200px">
        <div id="Carousel" class="carousel slide" data-ride="carousel">

             <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                <li data-target="#Carousel" data-slide-to="1"></li>
                <li data-target="#Carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrappers for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="http://i65.tinypic.com/dhctxs.jpg" alt="Image">
                      <!-- Tekst -->
                     <div class="carousel-caption">
                        <h1 style="background: rgba(255, 255, 255, 0.0); color: white"> Solnedgang på Lian </h1>
                    </div>
                </div>

            <div class="item">
                <img src="http://i66.tinypic.com/ivalqr.jpg" alt="Image">
                  <!-- Tekst -->
                 <div class="carousel-caption">
                    <h1 style="background: rgba(255, 255, 255, 0.0); color: white;"> Det perfekte stedet å grille en pølse</h1>
                </div>
            </div>


                <div class="item">
                    <img src="http://i68.tinypic.com/dmbdac.jpg" alt="Image">
                      <!-- Tekst -->
                     <div class="carousel-caption">
                        <h1 style="background: rgba(255, 255, 255, 0.0); color: white"> Påskedrømmen i Bymarka</h1>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#Carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Next</span>
            </a>
             <a class="right carousel-control" href="#Carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
                    </a>
        </div>
    </div>

    <div id="section2" class="container-fluid" style="margin-bottom: 200px;">
        <div class="col-sm-8">
            <div class="mapimg" style="background-color: rgba(200, 255, 200, 0.5)">
                <a href="{{url_for('map')}}">
                    <img src="http://i64.tinypic.com/2vs4369.jpg" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <br>
            <br>
            <h2><strong>kulTUR:</strong></h2>
            <h4>Din neste kule tur <br> - bare et klikk unna!</h4>
            <br>

            <br>
            <a href="{{url_for('map')}}" class="btn btn-default btn-block">Planlegg din tur</a>
        </div>


    </div>

    <div id="section3" class="container-fluid" style="margin-bottom: 200px;">
        <div class="col-sm-4">
            <h2><strong>Bruk fjellvett</strong></h2>
            <br>
            <p>Ikke gå på en smell når du går ut på tur <br>Sjekk været og når turhyttene har
                                åpningstider for å sikre deg og dine turglade venner den perfekte turen! </p>
            <br>

        </div>

        <div class="col-sm-8">
            <div class="mapimg" style="background-color: rgba(200, 255, 200, 0.5)">
                <a href="{{url_for('map')}}">
                    <img src="http://i65.tinypic.com/11cce52.jpg" class="img-responsive">
                </a>
            </div>
        </div>

    </div>

    <div id="section4" class="container-fluid" style="margin-bottom: 200px;">
        <a class="weatherwidget-io" href="https://forecast7.com/en/63d4310d40/trondheim/" data-label_1="TRONDHEIM" data-label_2="WEATHER" data-theme="original" >TRONDHEIM WEATHER</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
    </div>

</div>

</body>
</div>
    <footer class="page-footer font-small blue pt-4" >



      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://github.com/mtfalch/kulTUR"> kulTUR </a>
    </div>
    <!-- Copyright -->

  </footer>



<!-- http://i64.tinypic.com/4hzerq.jpg Lian - Skistua -->

{% endblock %}


