{% extends "base.html" %}

{% block app_content %}

<head><link rel="stylesheet" href="static/css/toggle.css"></head>



<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

        </div>
        <div class="col-md-12">

        </div>
        <div id="map" class="map">

        </div>
    </div>
</div>


   <!-- <div class="container">
        Viktig å lage div-plasseringen før funksjonaliteten blir kjørt -->
        <!--<div id='map'></div>
    </div> -->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

<script src="static/js/cabins_list.js"></script>
<script type="text/javascript" src="static/js/verb.js"></script>

<div class="container" style="position: fixed; top: 150px; width: 200px; transform: translate3d(-200px, 0, 0)">
    <input type="text" id="myInput" onkeyup="search()" placeholder="Søk..">
</div>

<div class="container" style="position: fixed; top: 250px; width: 230px; transform: translate3d(-200px, 0, 0)">
<div>

    <form id="myform">
        <script type="text/javascript" src="static/js/toggle.js"></script>
        <!-- Rounded switch -->
        <label class="switch">
            <input type="checkbox"name="check2" id="g01-01"  onchange="doalert(this)"/>
            <span class="slider round"></span>
        </label>
        &nbsp&nbsp&nbsp&nbsp&nbsp<font size="4">Hytter</font>

    </form>
</div>
</div>

<div class="container" style="position: fixed; top: 250px; width: 230px; transform: translate3d(-200px, 50px, 0)">
<div>
    <form id="toggletracks">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/tracks.js"></script>
        <!-- Rounded switch -->
        <label class="switch">
            <input type="checkbox"name="checkfield" id="checktracks"  onchange="get_data(this)"/>
            <span class="slider round"></span>
        </label>
        &nbsp&nbsp&nbsp&nbsp&nbsp<font size="4">Turer</font>
    </form>
</div>
</div>

    
<!--<script type="text/javascript" src="static/js/verb.js"></script>-->
{% endblock %}

