{% extends "base.html" %}
{% block app_content %}

<head><link rel="stylesheet" href="static/css/toggle.css"></head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

        </div>
        <div class="col-md-12">

        </div>
        <div id="map" class="map">

        </div>
    </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

<script src="static/js/cabins_list.js"></script>
<script src="static/js/tracks.js"></script>
<script type="text/javascript" src="static/js/map.js"></script>

<div class="container" style="position: fixed; top: 150px; width: 200px; transform: translate3d(-200px, 0, 0)">
   <div class="form-group">
       <script type="text/javascript" src="static/js/toggle.js"></script>
       <form action="javascript:choose_data(value);"> <!-- her må det legges inn funksjonen som gjør søk -->
           <select class="form-control" id="exampleFormControlSelect1">
               <option value="Bymarka">Bymarka</option>
               <option value="Kystpilegrimsleia">Kystpilegrimsleia</option>
               <option value="Pilegrimsleden-St.Olavsleden">Pilegrimsleden-St.Olavsleden</option>
               <option value="Pilegrimsleden-Romboleden">Pilegrimsleden-Romboleden</option>
               <option value="Pilegrimsleden-Gudbrandsdalsleden">Pilegrimsleden-Gudbrandsdalsleden</option>
           </select><br>
           <button type="submit" class="btn btn-primary">Søk</button>
       </form>
   </div>
    <!--<input type="text" id="myInput" onkeyup="search()" placeholder="Søk..">
    <input type="search" id="Input" onsearch="successCallback()">-->
</div>

<div class="container" style="position: fixed; top: 250px; width: 230px; transform: translate3d(-200px, 0, 0)">
<div>
<br>
    <form id="myform">
        <script type="text/javascript" src="static/js/toggle.js"></script>
        <!-- Rounded switch -->
        <label class="switch">
            <input type="checkbox"name="check2" id="g01-01"  onchange="doalert(this)"/>
            <span class="slider round"></span>
        </label>
        &nbsp&nbsp&nbsp&nbsp&nbsp<font size="4">Hytter</font>

    </form>
</div>
</div>


<div class="container" style="position: fixed; top: 250px; width: 230px; transform: translate3d(-200px, 50px, 0)">
    <br>
    <div>
        <form id="toggletracks">
            <script type="text/javascript" src="static/js/tracks.js"></script>
            <!-- Rounded switch -->
            <label class="switch">
                <input type="checkbox"name="checkfield" id="checktracks"  onchange="addDataToMap(this)"/>
                <span class="slider round"></span>
            </label>
            &nbsp&nbsp&nbsp&nbsp&nbsp<font size="4">Turer</font>
        </form>
    </div>
</div>
{% endblock %}

