{% extends "base.html" %}

{% block app_content %}

    <div class="container">

        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
    <fieldset>

    <!-- Form Name -->
    <legend><h2 align="center"><b>Registrer deg</b></h2></legend><br>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label">Fornavn</label>
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <!--<input  name="first_name" placeholder="Fornavn" class="form-control"  type="text">-->
          {{form.first_name(class_="first_name", placeholder="Fornavn", class="form-control", type="text") }}
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label" >Etternavn</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      {{form.last_name(class_="last_name", placeholder="Etternavn", class="form-control", type="text") }}
        </div>
      </div>
    </div>

      <div class="form-group">
      <label class="col-md-4 control-label">Kjønn</label>
        <div class="col-md-4 selectContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <select name="gender" class="form-control selectpicker">
          <option value="">Velg kjønn</option>
          <option >Kvinne</option>
          <option >Mann</option>
          <option >Annet</option>
        </select>
      </div>
    </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label">Brukernavn</label>
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      {{form.username(class_="username", placeholder="Brukernavn", class="form-control", type="text") }}
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label" >Passord</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
     {{form.password(class_="password", placeholder="Passord", class="form-control", type="text") }}
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label" >Gjenta passord</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      {{form.password(class_="password", placeholder="Passord", class="form-control", type="text") }}
        </div>
      </div>
    </div>

    <!-- Text input-->
           <div class="form-group">
      <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      {{form.email(class_="email", placeholder="E-Mail", class="form-control", type="text") }}
        </div>
      </div>
    </div>


    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-4 control-label">Telefon</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
     {{form.tlf(class_="tlf", placeholder="(+47) ", class="form-control", type="text") }}
        </div>
      </div>
    </div>

    <!-- Select Basic -->
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4"><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.submit(class="btn btn-warning")}}
      </div>
    </div>

    </fieldset>
    </form>
    </div>
        </div><!-- /.container -->

{% endblock %}

