{% extends "base.html" %}

{% block app_content %}
<head>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
    <style>
        #usermap{position: relative; heigth:20px; width: 100%;}
    </style>
</head>
<div class="container" style="height:300px; margin-top: 10px">
    <div id="usermap">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br>


        </div>
</div>
<div class="container">
    <div class="col-sm-5">
    <form class="well form-horizontal" action=" " method="post"  id="contact_form" style="background-color: rgba(255, 255, 255, 0.1)">
    <fieldset>
        <h3><b>Din profil</b></h3><br>
         <div class="table-responsive" style="border-color: white">
            <table class="table table-hove  r">
                <tr>
                    <td>Brukernavn:</td>
                    <td>{{user.username}}</td>
                    <td><a href="{{ url_for('edit_profile') }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <tr>
                <tr>
                    <td>Navn:</td>
                    <td>{{user.first_name }} {{user.last_name}} </td>
                    <td><a href="{{ url_for('edit_name') }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <tr>
                <tr>
                    <td>Epost:</td>
                    <td> {{user.email}} </td>
                <td><a href="{{ url_for('edit_mail') }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <tr>
                <tr>
                    <td>Telefon:</td>
                    <td> {{user.tlf}} </td>
                    <td><a href="{{ url_for('edit_tlf') }}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <tr>
                <tr>
                    <td>Kjønn:</td>
                    <td>{{user.sex}} </td>
                    <td><a href="{{ url_for('edit_sex') }}"><span class="glyphicon glyphicon-edit"></span></a></td>

                <tr>
            </table>
         </div>

    </fieldset>
    </form>
    </div>
    <div class="col-sm-7">
    <div class="well form-horizontal" style="background-color: rgba(255, 255, 255, 0.1); height: 320px;" >
        <h3><strong> Dine turer </strong></h3>
        <br>
        <div class="pre-scrollable" style="height: 200px; border-bottom: 0px">
             {% for trip in trips %}
            <div class="table-responsive" style="height: 60px">
                <table class="table table-hover">
                    <tr>
                        <td>{{trip.id}}
                        <td>{{trip.time}}
                        <td>{{trip.rutenavn}}
                        <td>{{trip.objtype}}
                    <tr>
                </table>
             </div>
            <!--
            <div class="thumbnail">
                    <div class="caption">
                        {{trip.time}} <br>
                        {{trip.id}} <br>
                       <br>
                    </div>
            </div> -->
            {% endfor %}
      </div>
    </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/usermap.js"></script>

{% endblock %}
